@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}



body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background : url(https://cdn.wallpapersafari.com/51/56/hYEcz5.jpg);
    background-size: cover;
}

.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    

}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 500px;
}

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 30px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
    background: white;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

/* .navigation-auto div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
} 

 .navigation-auto:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: white;
} */


.navbar {
    position: absolute;
    bottom: 90%;
}

.navbar img {
    position: relative;
    width: 4rem;
    top: 15px;
    left: 10px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    background: transparent;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}

.navbar ul li {
    position: relative;
    border-radius: 5px;
    color: azure;
    margin-right: 15px;
    padding-bottom: 5px;
    padding: 1.5px 12px 1.5px;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1)1s;
}

.navbar ul li:hover {
    cursor: pointer;
    color: black;
    font: bolder;
    /* transform: scale(1.01); */
    margin-top: 1px;
    border-radius: 12px;
    background-color: #e8ecfb;
    padding: 5px 15px 5px 15px;
}

a {
    text-decoration: none;
}