<%-include("partials/header.ejs")-%>  
<%-include("partials/navbar.ejs")-%>  

<style>
    *{
        color: white;
        background-color: rgba(0, 0, 0, 0.906);
    }
    #main {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    #main p {
        margin-top: 20px;
        width: 80%;
    }
</style>
<div id="main">
<h1>Who we are ?</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quasi, ex ullam praesentium dolores natus dolore labore? Id recusandae esse obcaecati dicta veniam placeat perferendis temporibus animi excepturi, aperiam repudiandae illo doloremque ea accusamus eveniet!</p>
</div>
<%-include("partials/footer.ejs")-%>  
