<%-include("partials/header.ejs")-%>  
<%-include("partials/navbar.ejs")-%>  
<link rel="stylesheet" href="style2.css">

<div id="main">
    <div id="overlay">
        <form class="left" action="/download" method="get">
            <h1>Black & White Portrays here</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, sequi asperiores fugit quasi ea facilis eius officia veritatis temporibus vero.</p>
            <button type="submit">More Images</a></button>
        </form>
        <div class="right">
            <div class="images">
                
                <img src="https://i.pinimg.com/originals/c9/4e/c8/c94ec8295d677ad20c26ef2d56c1f111.jpg" alt="" id="one">

                <img src="https://i.pinimg.com/originals/bc/fe/1f/bcfe1f0d6f23e0c41776c13020e7f765.jpg" alt="" id="two">

                <img src="https://d1kvkzjpuym02z.cloudfront.net/566064fbe4b0930c695267c6.jpg?Expires=2002096488&Signature=jfCQi6wTWQ7KFXLLUfgB97AkuENovbcK1N0RPwmDXsV6uVAm6BABtzrP6izgy8vMvSibdsVTNd7Gt3U3SyV-6oNPI38A0GkaxaOBElH0~bT9m-JMOYWS2T8ePhFQ3PhqwLYhk~~RN1hPhXlCS-EFG5ILoEysiBkFUpDYYTQFm~M_&Key-Pair-Id=APKAJXYWFXCDTRLR3EFA" alt="" id="three">

                <img src="https://i.pinimg.com/originals/72/1a/3e/721a3eb2ef1aa90467995034fe098ca9.jpg" alt="" id="four">

                <img src="https://www.viewbug.com/media/mediafiles/2015/08/30/58085967_large.jpg" alt="" id="five">

                <img src="https://i.pinimg.com/236x/50/b8/50/50b850061475cf8b7d8be3473a9cd8b4.jpg" alt="" id="six">

            </div>
        </div>
    </div>
</div>

<%-include("partials/footer.ejs")-%>  
